{% extends 'base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<section class="landing-section landing-main">
  <h1 class="brand">Art Gallery</h1>
  <!-- <h2>
    <span class="brand-text">Mu</span>sic
    <span class="brand-text">N</span>otifications
  </h2> -->
  <p class="landing-main-text">
   Find and discover great art from varous artist
  
  </p>
</section>


<section class="content-section">
    <h1 class="about">Header</h1>

    <p class="content-section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum a officia soluta praesentium suscipit 
      quidem eum ipsum facilis eius tempore quae sit, corporis voluptatum iste doloremque illum assumenda pariatur.</p>
</section>


<section class="featured-section">
  <h1 class="featured">Featured</h1>
<br>
<div class="container-fluid">

  <div class="row">
    {% for art in arts_featured %}
  
    <div class="col-md-4">
      <img class="imgart mt-4" src="{{ art.image.url }}" alt="Card image cap" width="350px" height="250px">
      <span style="color: #000000;">
        <p><strong>{{art.title}} </strong></p>
        <p><strong>Artist: </strong>{{art.artist}}</p>
        <button class="btn btn-info">more</button>
      </span>
    </div>
  
    {% endfor%}
    <!-- <div class="col-md-4">.col-md-4</div> -->
  
  </div>

</div>

</section>

{% endblock content %}